@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

body {
  background-color: var(--light-gray);
  font-family: 'Poppins', sans-serif;
}

header {
  margin: 50px auto;
  max-width: 484px;
  text-align: center;
}

h1 {
  font-weight: 200;
  margin: 0;
}

span {
  font-size: 32px;
  font-weight: 600;
}

p {
  text-align: left;
  color: var(--grayish-blue);
}

header > p {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px;
}

.box {
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 28px;
  position: relative;
  overflow: hidden;
  margin: 16px;
  width: 352px;
}

.box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

.box-team-builder::after{
  background-color: var(--red);
}

.box-supervisor::after {
  background-color: var(--cyan);
}

.box-karma::after {
  background-color: var(--orange);
}

.box-calculator::after {
  background-color: var(--blue);
}

.box h2 {
  margin: 0;
}

.box p {
  font-size: 16px;
  margin: 16px 0 40px;
}

.box img {
  display: block;
  margin-left: auto;
}

.box-down {
  transform: translateY(50%);
}

.attribution {
  font-size: 16px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 775px) {
  .box-down {
    transform: translateY(0);
  }
}
