@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--light-gray);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  margin: 50px auto;
  max-width: 500px;
  text-align: center;
}

h1 {
  font-weight: 200;
  margin: 0;
}

span {
  font-size: 32px;
  font-weight: 600;
}

p {
  color: var(--grayish-blue);
  text-align: left;
  /* display: inline-block; */
}

header > p {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1144px;
}

.card {
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 28px;
  position: relative;
  overflow: hidden;
  margin: 14px;
  width: 352px;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

.card-team-builder::after{
  background-color: var(--red);
}

.card-supervisor::after {
  background-color: var(--cyan);
}

.card-karma::after {
  background-color: var(--orange);
}

.card-calculator::after {
  background-color: var(--blue);
}

.card h2 {
  margin: 0;
}

.card p {
  font-size: 16px;
  margin: 16px 0 40px;
}

.card img {
  display: block;
  margin-left: auto;
}

.card-down {
  transform: translateY(60%);
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  span {
    font-size: 24px;
  }

  header {
    padding: 0 20px;
  }

  .card-down {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 760px) and (max-width: 1144px) {
  .card-down {
    transform: translateY(0);
  }
}
